.bloc--img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 100px;
    .image {
        width: 700px;
        height: 50vh;
        cursor: pointer;
        border-radius: 3px;
        transition: transform 200ms ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
}
.paraone {
    text-align: center;
    width: 400px;
    font-size: 1.3rem;
    letter-spacing: 2px;
    transition: transform 600ms;
    margin-top: 20px;
    &:hover{
        transform: scale(1.12);
    }
}

